<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1 th:text="${message}">Hello</h1>
    <!-- sec NameSpace 를 사용하는 경우 -->
    <div sec:authorize-expr="isAuthenticated()">
        <h2 sec:authorize="name">Name</h2>
        <a href="/logout" th:href="@{/logout}">Logout</a>
    </div>
    <div sec:authorize-expr="!isAuthenticated()">
        <a href="/login" th:href="@{/login}">Login</a>
    </div>
    <!-- 타임리프 확장 버전 (단점은 실행하지 않는 이상은 type error 확인이 불가능하다.)-->
    <!--
    <div th:if="${#authorization.expr('isAuthenticated()')}">
        <h2 th:text="${#authentication.name}">Name</h2>
        <a href="/logout" th:href="@{/logout}">Logout</a>
    </div>
    <div th:unless="${#authorization.expr('isAuthenticated()')}">
        <a href="/login" th:href="@{/login}">Login</a>
    </div>
    -->
</body>
</html>